[Unit]
Description=RapidAPI Asp.NET Service
After=network-online.target

[Service]
User=dotnet
ExecStart=/usr/bin/dotnet /opt/dotnet/rapidapiaspnet/rapidapiaspnet.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rapidapiaspnet
WorkingDirectory=/opt/dotnet/rapidapiaspnet
#Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5000

[Install]
WantedBy=multi-user.target
